@import "tailwindcss";

@theme {
  --color-cream: #FDFBF7;
}

body {
  background-color: var(--color-cream);
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}